.main-content {
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  padding: 15px;
}

.main-content h1 {
  font-size: 2.2em;
}

.main-content hr {
  margin: 10px 0px;
}
